*{
    margin: 0;
    padding: 0;

}
.main{
 
    display: flex;
    justify-content: center;
    margin-top: 300px;
    
}
.contener{
    height: 150px;
    width: 500px;
    background-color:white;
    text-align: center;
    padding-top: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.564),-2px -2px 2px rgba(0, 0, 0, 0.564);


}
.contener p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.contener button{
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    box-shadow: 2px 2px 5px rgba(4, 4, 4, 0.564);
}